
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .blink {
      animation: blinker 0.6s linear infinite;
      color: #1c87c9;
      font-size: 30px;
      font-weight: bold;
      font-family: sans-serif;
      }
      @keyframes blinker {  
      50% { opacity: 0; }
      }
      .blink1 {
      animation: blinker 0.6s linear infinite;
      color: brown;
      font-size: 30px;
      font-weight: bold;
      font-family: sans-serif;
      }
      @keyframes blinker {  
      50% { opacity: 0; }
      }
     
     
    </style>
</head>
<body>

<marquee direction="right" bgcolor="lightgreen" width=100% height=40px vspace=5px style="padding-top: 2px"><p class="blink">welcome to the world of AI and ML</p></marquee>
    <div style="padding-left: 50px;padding-top: 50px;">
    <h2>Past Events from H<sub>2</sub>o.io</h2>
    <p>click on the following links to watch an event</p>
    <a href="https://www.youtube.com/watch?v=ZqCoFp3-rGc">1.H2O Driverless AI Demo</a><br>
    <a href="https://www.youtube.com/watch?v=HvYWE6YFoR0">2.Intro to Driverless AI - Hands-on Training - #H2OWorld 2019 NYC</a><br>
    <a href="https://www.youtube.com/watch?v=8T0bK_gJTI8">3.Keynote by Sri Ambati - #H2OWorld 2019 NYC</a><br>
    <a href="https://www.youtube.com/watch?v=khjW1t0gtSA">4.Your AI Transformation - Virtual Meetup</a><br>
    <a href="https://www.youtube.com/watch?v=CY3t11vuuOM">5.Interpretable Machine Learning Using LIME Framework - Kasia Kulma (PhD), Data Scientist, Aviva</a><br>
    <a href="https://www.youtube.com/user/0xdata/videos"><b style="color: red">click here</b> complete collection of past events</a>
    </div>
    <div style="padding-top: 70px;padding-left: 50px">
    	<h2>Upcoming events </h2>
       	<a href="https://register.gotowebinar.com/register/1144058749346313488">Your AI Transformation Part 2: Real World Use Cases </a>
       	&nbsp;&nbsp;&nbsp;Thursday, July 16, 2020
11:00 AM to 12:00 PM GMT+5:30
<br>
<p class="blink1">For more events stay tuned!!</p>

    </div>
     
       </body>
</html>