<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
		body{
			background-color:  black;
			padding-top: 30px;
			padding-left: 30px;
			

		}
		.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.p{
	color: white;
	padding-left: 50px;
	font-size: 20px;
}
.d{
	
	color: white;
	font-size: 15px;
	font-style: italic;
}
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

	</style>


</head>
<body>
	<pre>

<h1 class="glow">
Your AI Transformation Part 2: 
Real World Use Cases
</h1>


            <div>
			<p class="p">Date:     Thursday, July 16, 2020</p>
			<p class="p">Time:     11:00 AM to 12:00 PM GMT+5:30</p>
			<p class="p">place:    online event</p>


			              

 <center><button type="button" class="btn btn-danger"><p class="d">Not yet registered? </p><%= link_to "Register Now", new_user_registration_path,background:"none" %><a href="/"></a></button></center>
            </div>








</pre>
	</body>
</html>

