<html>
<head>

<!-- AddEvent script -->
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

</head>
<body>

<!-- Button code -->
<div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">07/16/2020 11:00 AM</span>
    <span class="end">07/16/2020 12:00 PM</span>
    <span class="timezone">IST(India)
</span>
    <span class="title">Virtual meetup on AI transformation</span>
    <span class="description">Discussion on real world use cases of AI transformation</span>
    <span class="location">Online</span>
</div>

</body>
</html>