<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
 
  <style>
    

* { 
margin: 0;
}
.site-footer
{ 
height: 280px;
} 
.site-footer {
background: black; 
}
/*footerdata*/

.footer-left{
  padding-left: 100px;
  padding-top: 30px;
}



  

  </style>
</head>
<body>

  
<footer class="site-footer" class="row">
   
    <div class="footer-left" class="column" style="float: left; width: 40%;">
       <h3 > <b style="color: white;">About</b><span style="font-family: 'Dancing Script', cursive; color: yellow">&nbsp;TechMeets</span></h3>
        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Blog</a>
          |
          <a href="#">About</a>
          |
          <a href="#">Contact</a>
        </p>
        <p class="footer-company-name" style="color: white">© 2020 TechMeets </p>
    </div>
       
      </div> 
      <div class="footer-right" class="column" style="float: right; width: 40%;padding-top: 30px">
          <p class="footer-company-about" style="color: white;">
          <span style="color: white;"><b><font size="+2">About the company</font><b></span><br>
          We publicize events of different companies and allow interested candidates to register for the event.</p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook fa-3x"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter fa-3x"></i></a>&nbsp;
          <a href="#"><i class="fa fa-instagram fa-3x"></i></a>&nbsp;
          <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>&nbsp;
          <a href="#"><i class="fa fa-youtube fa-3x"></i></a>&nbsp;
        </div>
        <div style="padding-left: 50px">
          <i class="fa fa-map-marker fa-3x"></i>
           <span style="color: white">Hyderabad,Telangana,
            
            500070</span>
        </div>
         <div style="padding-left: 50px">
          <i class="fa fa-envelope fa-3x"></i>
          <span style="color: white">support@techmeets.com</span>
        </div>
     </div>

   
</footer>




  
</body>
</html>


